<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.frmichetti.carhollics.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.com.frmichetti.carhollics.android.SimpleLoginActivity" />
        <activity android:name="br.com.frmichetti.carhollics.android.SimpleMainActivity" />
        <activity android:name="br.com.frmichetti.carhollics.android.WhereActivity" />
        <activity android:name="br.com.frmichetti.carhollics.android.WhenActivity" />
        <activity android:name="br.com.frmichetti.carhollics.android.SimpleDetailActivity" />
        <activity android:name="br.com.frmichetti.carhollics.android.CartActivity" />
        <activity android:name="br.com.frmichetti.carhollics.android.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.frmichetti.carhollics.android.ResetPasswordActivity" />
        <activity android:name="br.com.frmichetti.carhollics.android.SignupActivity" />
        <activity android:name="br.com.frmichetti.carhollics.android.MainActivity" />
    </application>

</manifest>