<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.frmichetti.carhollics.android"
    android:versionCode="12"
    android:versionName="0.2.0">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <service
            android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name=".util.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity android:name=".view.LoginActivity" android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ServicoDetailActivity" android:launchMode="singleTop" />
        <activity android:name=".view.CartActivity" android:launchMode="singleTop" />
        <activity android:name=".view.ResetPasswordActivity" android:launchMode="singleTop" />
        <activity android:name=".view.SignupActivity" android:launchMode="singleTop" />
        <activity android:name=".view.OptionsActivity" android:launchMode="singleTop" />
        <activity android:name=".view.ClientActivity" android:launchMode="singleTop" />
        <activity android:name=".view.VeiculoCreateActivity" android:launchMode="singleTop" />
        <activity android:name=".view.MainActivity" android:launchMode="singleTop" />
        <activity android:name=".view.MapActivity" android:launchMode="singleTop" />
    </application>

</manifest>