<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.frmichetti.carhollics.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.SimpleLoginActivity" />
        <activity android:name=".view.SimpleMainActivity" />
        <activity android:name=".view.WhereActivity" />
        <activity android:name=".view.WhenActivity" />
        <activity android:name=".view.SimpleDetailActivity" />
        <activity android:name=".view.CartActivity" />
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ResetPasswordActivity" />
        <activity android:name=".view.SignupActivity" />
        <activity android:name=".view.OptionsActivity" />
        <activity android:name=".view.ClientActivity" />
        <activity android:name=".view.VeiculoCreateActivity" />
        <activity android:name=".view.VeiculoActivity" />
    </application>

</manifest>