<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name="br.com.frmichetti.carhollics.android.MainDebug"></activity>
    </application>

    <!--
           The API key for Google Maps-based APIs is defined as a string resource.
           (See the file "res/values/google_maps_api.xml").
           Note that the API key is linked to the encryption key used to sign the APK.
           You need a different API key for each encryption key, including the release key that is used to
           sign the APK for publishing.
           You can define the keys for the debug and release targets in src/debug/ and src/release/.
      -->
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />

    <activity
        android:name=".view.activity.MapsActivity"
        android:label="@string/title_activity_maps"
        android:launchMode="singleTop" />

    <activity
        android:name=".view.activity.MapActivity"
        android:launchMode="singleTop" />
</manifest>
